body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color: white;
}

.container{
  padding:30px;
}

.header{
  text-align:center;
  padding:30px;
  margin-bottom:30px;
}

.section{
  margin-bottom:40px;
}

.grid{
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
}

.card{
  padding:20px;
  text-align:center;
  transition:0.3s;
}

.card img{
  width:80px;
}

.card:hover{
  transform:scale(1.05);
}

/* glass effect */

.glass{
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  border-radius:15px;
  border:1px solid rgba(255,255,255,0.2);
}